:root {
    --red: #F24150;
    --pinky: #F26DB6;
    --pinkdust: #c69e91;
    --blue: #1C58A6;
    --mint: #04BF68;
    --orange: #F29F05;
    --offwhite: #F2F2F2;
    --black: #000000;

}

* {
    box-sizing: border-box;
    font-family: "bilo", sans-serif;
    font-style: normal;
    list-style: none;
    text-decoration: none;
}


nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background-color: transparent;
}

.logo {
    height: 50px;
    width: 50px;
}

.logo:hover {
    opacity: 50%;
    transition: 0.7s;
    transform: rotate(35deg);
}

body {
    background: var(--offwhite);

}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--blue);
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover {
    border-bottom: 2px solid var(--blue);
}

#menu-icon {
    color: var(--blue);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}


.btn {
    display: inline-block;
    color: var(--offwhite);
    background: var(--orange);
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 800;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
    margin-top: 10px;
}

.btn:hover {
    background: transparent;
        border: 1px solid var(--pinky);
        transform: translateX(8px);
        color: var(--blue);
}

.contact {
    height: 20%;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 19%;
    font-size: 100px;
    font-weight: 800;
}

.contact h2{
    margin-bottom: 3rem;
    margin-right: 100px;
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 0;
    text-align: center;
}

.contact form .input box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input, .contact form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 0.5rem;
    border-color: var(--mint);
    font-size: 15px;
}


.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: var(--black);
    transition: all .50s ease;
}

.icons i:hover{
    color: var(--red);
    transform: translateY(-5px);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* responsive view */
@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
}

@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
    .contact{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: 2s;
    }
  
    .icons{
        display: none;
    }

    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 35vh;
        background: var(--pinkdust);
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px 20px;
        transition: all .65s ease;
    }
    .navlist a{
        display: block;
        margin: 10px 0;
        margin-left: 0;
    }
    .navlist.open {
        right: 0;
        
    }
    .contact{
        display: flex;
        flex-direction: column;
    }
    
}

@media (max-width: 680px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 35vh;
        background: var(--pinkdust);
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px 20px;
        transition: all .65s ease;
    }
    .navlist a{
        display: block;
        margin: 10px 0;
        margin-left: 0;
    }
    .navlist.open {
        right: 0;
        
    }
   
    nav {
        background: transparent;
    }

.contact{
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 100px;
}
}
