:root {
    --red: #F24150;
    --pinky: #F26DB6;
    --pinkdust: #c69e91;
    --blue: #1C58A6;
    --darkblue: #263973;
    --mint: #04BF68;
    --orange: #F29F05;
    --offwhite: #F2F2F2;
    --black: #000000;  
}
   
* {
    box-sizing: border-box;
    font-family: "bilo", sans-serif;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background-color: var(--offwhite);
}
.logo {
    height: 50px;
    width: 50px;
}

.logo:hover {
    opacity: 50%;
    transition: 0.7s;
    transform: rotate(35deg);
}

body {
    background: var(--offwhite);
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--blue);
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover {
    border-bottom: 2px solid var(--blue);
}

#menu-icon {
    color: var(--blue);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.title {
    margin-top: 10%;
    min-width: 100%;
    font-size: 3vw;
    text-align: center;
    padding: 10px 50px 20px;
}

.portfolioimage {
    display: block;
    margin: auto;
    max-width: 80dvw;
    margin-bottom: 5%;
    background-size: contain;
    background-color: var(--darkblue);
    border-radius: 5rem;
}

.portfolioimage img {
    max-width: 70dvw;
    margin: auto;
    display: block;
    padding: 50px 50px 50px;
}

.text {
    padding: 5%;
    text-align: center;
    color: var(--offwhite);

}

@media (max-width: 680px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 35vh;
        background: var(--pinkdust);
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px 20px;
        transition: all .65s ease;
    }
    .navlist a{
        display: block;
        margin: 10px 0;
        margin-left: 0;
    }
    .navlist.open {
        right: 0;
        
    }
   
    nav {
        background: transparent;
    }
}